* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
}

body {
    background-color: #E0D18D;
}

/* Title */
#titleFlexContainer {
    /* border: 2px solid black; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#titleContainer {
    height: fit-content;
    width: fit-content;
    margin: 15px;
    /* border: 2px solid black; */
    background-color: #C9D0E4;
    border-radius: 10px;
    box-shadow: 4px 4px 2px;
}

#title {
    margin: 15px;
    font-size: 50px;
    color: #5C87AD;
}

/* Styling för userForm */
#userForm {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 40px;
    padding: 20px;
    border: 5px solid black;
    background-color: #5C87AD;
}

#userInputContainer {
    display: flex;
    flex-flow: column nowrap;
    margin: 15px;
}

.userInput {
    background-color: #C9D0E4;
    border: 2px solid #A8AD5C;
    color: #747A1C;
}

#userSearchButton {
    margin: 15px;
    padding: 3px;
    background-color: #C9D0E4;
    color: #747A1C;
    border: 2px solid #A8AD5C;
}

#userSearchButton:hover {
    opacity: .75;
}

/* Animation */
#animationContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 50px;
}

p {
    padding: 0;
    margin: 0;
}

/* Slideshow */
#containerForTheSlideshowContainer{
    width: 90vw;
    /* height: 1080px; */
    position: relative;
    border: 20px double black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0 auto 30px;
    background-color: #A8AD5C;
}
#slideshowContainer {
    position: relative;
    margin: 20px;
}

.slides {
    display: none;
}

/* Prev & next buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    height: 100%;
    padding: 0 16px;
    color:#C9D0E4;
    font-weight: bold;
    font-size: 18px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* placera prev till vänster och next till höger */
.prev{
    left: 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slideNumber {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}